.title {
    font-size: 1.5rem;
}
.control .checkbox-group-row label {
    padding: 0 1.5rem 0.5rem 0.3rem;
}
aside.aside .aside-tools, aside.aside {
    background-color: #2b333b;
}
aside.aside .aside-tools {
    background: url('images/dynart-gears-logo.svg') no-repeat center left;
    background-size: contain;
    /*width: 152px*/
}
aside.aside.is-expanded {
    width: 17rem;
}
.menu-list a.is-active {
    background-color: #72c100;
}
.menu-list a {
    color: #8591a9;
}

@media screen and (min-width: 1024px) {
    html.has-aside-left.has-aside-expanded nav.navbar, html.has-aside-left.has-aside-expanded body {
        padding-left: 17rem;
    }
}